{% extends 'base.html' %}

{% block title %}
    <title>Doc NER extraction</title>
{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <span class="text-center">Вставьте ниже изображение документа</span>
        </div>
        <div class="row justify-content-md-center mt-3 w-50 me-auto ms-auto">
            <div> 
                <form class="row p-3 border border-success rounded" method="post" enctype="multipart/form-data">
                    <div class="col-9">
                        <input class="form-control" type="file" id="document-input" name="doc-file">
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}