{% extends 'base.html' %}

{% block title %}
    <title>Doc NER extraction</title>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <h3>Результаты распознавания</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Тип сущности</th>
                            <th scope="col">Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Организация</th>
                            <td>{{ senderOrganization }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Номер письма</th>
                            <td>{{ senderNumber }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Дата отправки</th>
                            <td>{{ senderDate }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Адресат</th>
                            <td>{{ addresseeName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Должность адресата</th>
                            <td>{{ addresseeJobTitle }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Отправитель</th>
                            <td>{{ senderName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Должность отправителя</th>
                            <td>{{ senderJobTitle }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Исполнитель</th>
                            <td>{{ executorName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Телефон исполнителя</th>
                            <td>{{ executorPhone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email исполнителя</th>
                            <td>{{ executorEmail }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Адрес</th>
                            <td>{{ location }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ИНН</th>
                            <td>{{ inn }}</td>
                        </tr>
                        <tr>
                            <th scope="row">КПП</th>
                            <td>{{ kpp }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div class="border border-success rounded p-3 m-1">
                    <img src="data:image/jpeg;base64, {{ image }}" class="w-100">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
